@import '../scss/main.scss';

.form {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;

    &__container {
        width: 80%;
        max-width: $content-width;
        display: grid;

        // Desktop layout
        @media (min-width: 600px) {
            grid-template-columns: 75% 25%;
            column-gap: 1rem;
            row-gap: 1rem;
        }
    }
    
    .form__input-container {
        // Desktop layout
        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 1rem;
        }
    }

    &__input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid rgb(103, 103, 103);
        font-size: $normal-content;
        &::placeholder {
            color:black;
        }
    }

    select {    
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      
    }
    
    select.form__input {
        background-image:
        linear-gradient(45deg, transparent 50%, rgb(158, 158, 158) 50%),
        linear-gradient(135deg, rgb(158, 158, 158) 50% 50%, transparent 50%);
 
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px);
        background-size:
            5px 5px,
            5px 5px;
        background-repeat: no-repeat;
    }
    
    &__phone-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    &__phone-prefix {
        width: 4rem;
        margin-right: 0.5rem;
    }

    &__terms-label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 0.7rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top:1rem;   
        text-align: left;     
    }
    
    // Hide the browser's default checkbox 
    &__terms {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    // Create a custom checkbox 
    &__terms-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1rem;
        width: 1rem;
        border: 1px solid rgb(103, 103, 103);

    }
    
    // Hide the browser's default checkbox
    .form__terms-checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
    
    // Show the checkmark when checked
    .form__terms-label input:checked ~ .form__terms-checkmark:after {
        display: block;
    }

    // Style the checkmark/indicator
    .form__terms-label .form__terms-checkmark:after {
        left: 5px;
        width: 5px;
        height: 10px;
        border: solid rgb(103, 103, 103);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    &__submit-button {
        background-color: $primary-color;
        color: white;
        padding: 0.6em;
        width: 100%;
        font-size: 1em;
        font-weight: 700;
        cursor: pointer;
        border: none;
        margin: 1rem 0
    }
}

