@import '../scss/main.scss';
.tool {
    background-image: url(../assets/bkg.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    
    &__container {
        width: 80%;
        max-width: $content-width;
        display: grid;

        // Desktop layout
        @media (min-width: 600px) {
            grid-template-columns: 40% 60%;
        }
    }



    &__info {
        color: white;
        text-align: left;

           // Desktop layout
           @media (min-width: 600px) {
            display: grid;
            align-content: end; 
        }

        h2, h3, p {
            font-weight: normal;
            margin-block-start: 0;
            margin-block-end: 0.5rem;
            padding: 0;
            line-height: 1;
        }

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1.5rem;
            padding-bottom: 1rem
        }

        p {
            font-size: $normal-content;
        }
    }

    &__image {
        max-width:100%;
    }

    &__download {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        
        @media (min-width: 600px) {
            justify-content: flex-start;
        }

        img {
            width: 7rem;
        }
    }
}
.grid {
    display: grid;
    
    @media (min-width: 600px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
}